.GeneralInterface {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Montserrat;
}
.container{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city {
  font-weight: 500;
  font-size: 32px;
}
.img {
  width: 160px;
  height: 160px;
}
.temperature {
  font-weight: 600;
  font-size: 48px;
}
.description {
  font-weight: 500;
  font-size: 20px;
}
.settings {
  margin-top: 10vh;
  background-color: white;
  color: black;
  font-family: montserrat;
  font-weight: 300;
  border: 2px solid #00A3FF;
  border-radius: 10px;
  padding: 5px 20px;
}
.settings:hover {
  background-color: #00A3FF;
  color: white;
}

.clouds {
  background: center / contain no-repeat url("../icons/Cloud.png");
}
.thunder {
  background: center / contain no-repeat url("../icons/Light.png");
}
.rain {
  background: center / contain no-repeat url("../icons/Rainy.png");
}
.snow {
  background: center / contain no-repeat url("../icons/Snow.png");
}
.storm {
  background: center / contain no-repeat url("../icons/Strong_wind.png");
}
.sun {
  background: center / contain no-repeat url("../icons/Sun.png");
}
.wind {
  background: center / contain no-repeat url("../icons/Wind.png");
}
.smoke {
  background: center / contain no-repeat url("../icons/Smoke.png");
}
